.App {
  height: 100vh;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.books {
  display: flex;
  gap: 20px;
}

.book {
  flex: 1;
  display: flex;
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  background-color: antiquewhite;
}
