.App {
  height: 100vh;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.books {
  display: flex;
  gap: 20px;
}

.book {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  background-color: antiquewhite;
}

.Delete {
  background-color: white;
  color: rgb(241,100,100);
  border: 1px solid gainsboro;
  padding: 3px 6px;
  cursor: pointer;
} 

.Update {
  background-color: white;
  color: rgb(139,139, 239);
  border: 1px solid gainsboro;
  padding: 3px 6px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 250px;
  padding: 10px;
  border: 1px solid gainsboro;
}

.formButton {
  padding: 10px;
  background-color: lightskyblue;
  border: none;
  cursor: pointer;
}